.bg_img {
    background-image: url('https://envato-shoebox-0.imgix.net/4e0d/021d-2021-400b-8d54-7b9df574667a/2527394.jpg?auto=compress%2Cformat&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&w=1000&fit=max&markalign=center%2Cmiddle&markalpha=18&s=2dfefbc61696e90c6d53899f242a48f1');
    background-color: rgb(101, 98, 96);
}
.bg_img1 {
    background-image: url('https://plus.unsplash.com/premium_photo-1683288662050-a0c17370365d?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-color: rgb(101, 98, 96);
}